
<div class=" Main bg-secondary ">
    <h1 class="m-auto d-flex justify-content-center">{{ title }}</h1>
    <div class="d-flex m-5 container1 border border-success rounded shadow-lg p-3 mb-5 rounded">
        <div class="text-white About-Me font w-50 ">
            Меня зовут Ярослав,люблю играть в компьютерные игры.Живу в Гомеле.Мечтаю побывать в разных странах.Учусь на програмиста,и надеюсь что у меня получится стать в будущем Sineor ранга.Рассказать много о себе я не могу, так как на ум ничего не приходит,поэтому прошу прощения!
        </div>
        <div class="Its-me-img w-50">
            <div class="d-flex justify-content-center align-items-center ">
                <div class="logo">
                    <img class="I" src="./photo_5325871494603068163_y.jpg" alt="logo">
                </div>
            </div>
        </div>
    </div>
    <div class="exp d-flex m-4 ">
        <div class="rabota w-25 m-4 w-25 border border-success rounded shadow-lg p-3 mb-5 rounded">
            <h2>Опыт работы</h2>
            <li>Работал 2 года на слесаря по сельхоз технике</li>
            <li>Так как мне 20 лет,то и опыт работы не большой</li>
        </div>
        <div class="skills w-25 m-4 w-25 border border-success rounded shadow-lg p-3 mb-5 rounded">
            <h2>Умения</h2>
            <li>Знаю всего понемногу:</li>
            <li>Язык разметки HTML</li>
            <li>Язык стилей</li>
            <li>Язык програмирования javaScript</li>
            <li>Также чучуть знаю TS-это тоже язык програмирования</li>
        </div>
        <div class="portfolio m-4 w-25 border border-success rounded shadow-lg p-3 mb-5 rounded">
            <h2>Портфолио</h2>
            <ul>
                <li>Фамилия:Водяников</li>
                <li>Имя:Ярослав</li>
                <li>Отчество:Водяников</li>
                <li>Обучался:It-шаг Front-end разработчик</li>
                <li>Номер телефона:+375252502886</li>
                <li>Дата рождения:2002.11.24</li>
            </ul>
        </div>
        <div class="podrobnosti w-25 m-4 w-25 border border-success rounded shadow-lg p-3 mb-5 rounded">
            <h2>Подробности</h2>
            <li>Мне нравится писать код,несмотря на то что нужно много знать.</li>
            <li>Хочу в будущем работать на этой професии,в хорошей компании</li>
            <li>Хочу добится своих целей и не что меня не остановит</li>
            <li>У меня есть никнейм " {{ name }} "</li>
        </div>
    </div>
    <div class="d-flex justify-content-center align-items-center flex-column ">
        <h2>Мои соцсети</h2>
        <ul>
            <div class="d-flex telegram">
                <li>Telegram</li>
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-telegram" viewBox="0 0 16 16">
                    <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8.287 5.906c-.778.324-2.334.994-4.666 2.01-.378.15-.577.298-.595.442-.03.243.275.339.69.47l.175.055c.408.133.958.288 1.243.294.26.006.549-.1.868-.32 2.179-1.471 3.304-2.214 3.374-2.23.05-.012.12-.026.166.016.047.041.042.12.037.141-.03.129-1.227 1.241-1.846 1.817-.193.18-.33.307-.358.336a8.154 8.154 0 0 1-.188.186c-.38.366-.664.64.015 1.088.327.216.589.393.85.571.284.194.568.387.936.629.093.06.183.125.27.187.331.236.63.448.997.414.214-.02.435-.22.547-.82.265-1.417.786-4.486.906-5.751a1.426 1.426 0 0 0-.013-.315.337.337 0 0 0-.114-.217.526.526 0 0 0-.31-.093c-.3.005-.763.166-2.984 1.09z"/>
                    </svg>
            </div>
        </ul>
    </div>
</div>
